.benchmarkrow{
    margin-left: -10px !important;
    margin-right: -10px !important;
    margin-top: -20px !important;
    margin-bottom: -20px !important;
}
.benchmarkdiv{
    margin-bottom: -30px !important;
    /*margin-top: -30px !important;*/
}