/* navbar */
.navbar-default {
    /*background-color: teal;*/
    background-color: white;
    /*border-color: #E7E7E7;*/
}

/* Title */
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #dddddd;
}

/* Link */
/*
.navbar-default .navbar-nav > li > a {
    color: white;
}
*/

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ddd;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-default .navbar-nav > .dropdown > .dropdown-menu {
    /*-webkit-box-shadow: 0px 0px 89px 0px rgba(0, 0, 0, 0.5);*/
    /*-moz-box-shadow: 0px 0px 89px 0px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 0px 0px 89px 0px rgba(0, 0, 0, 0.5) !important;*/
}

/*Mega dropdown  */
.mega-dropdown {
    position: static !important;
    width: 100%;
}

.mega-dropdown-menu {

    z-index: 999;
    padding: 20px 0px;
    width: 85%;
    top: 50px;
    right: -25%;
    background: #f8f8f8;
    /* background: teal; */

}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
    /*text-transform: uppercase;*/
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

/*New Side Bar from Creative Team*/

.sidebar .sidebar-background {
    position: absolute !important;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset -1px 0px 0px 0px #cfcfca;
    box-shadow: inset -1px 0px 0px 0px #cfcfca;
    background-position: 50%;
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(0px);*/
    /*filter: blur(5px);*/
}

.sidebar .sidebar-background::before {
    /*background-color: rgba(27, 38, 175, 0.8);*/
    /*background-color: rgba(0, 74, 105, 0.9);*/
    /*background-color: rgba(0, 25, 141, 0.7);*/
    content: '';
    display: block;
    min-height: 100%;
    position: fixed;
    width: 275px;
}

.main-sidebar, .left-side {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 275px !important;
    z-index: 1030 !important;
    padding-top: 0px !important;
}

.sidebar {
    opacity: 1.8 !important;
}

/*.sidebar {*/
/*background: linear-gradient(180deg, #282828 0, #111) !important;*/
/*background-size: 150% 150% !important;*/
/*}*/

.main-header > .navbar {
    margin-left: 275px !important;
    min-height: 65px !important;
    line-height: 35px !important;
}

@media (max-width: 767px) {
    .main-header .navbar {
        margin: 0 !important;
    }
}

.main-header {
    min-height: 16px !important;
}

.main-header .logo {
    width: 275px !important;
    height: 65px !important;
    line-height: 65px !important;
    float: none !important;

}

/*@media (max-width: 767px) {*/
/*.main-header .logo, .main-header .navbar {*/
/*width: 100% !important;*/
/*float: none;*/
/*position: relative !important;*/
/*padding-left: 0px !important;*/
/*}*/
/*}*/

.sidebar-collapse .main-sidebar, .sidebar-collapse .left-side {
    transform: translate(-275px, 0) !important;
}

/*.main-header .sidebar-toggle {*/
/*line-height: 35px !important;*/
/*}*/
@media (min-width: 768px) {
    .navbar-nav {
        padding-top: 8px !important;
    }
}

.card {
    margin: 30px 0 !important;
}

/*.content-wrapper, .right-side, .main-footer {
    margin-left: 275px;
}*/

/*.content-wrapper, .right-side, .main-footer {*/
/*margin-left: 275px !important;*/
/*}*/

.sidebar-collapse .content-wrapper, .sidebar-collapse .right-side, .sidebar-collapse .main-footer {
    margin-left: 0 !important;
}

.main-header {
    font-size: 20px !important;
}

.simple-text {
    /*text-transform: uppercase;*/
    padding: 5px 0;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    white-space: nowrap;
    color: white;
}

.sidebar .logo {
    padding: 12px 0;
    margin: 0;
    -webkit-box-shadow: inset -1px 0 0 0 #cfcfca;
    box-shadow: inset -1px 0 0 0 #cfcfca;
    position: relative;
    z-index: 4;
    display: block;
}

.main-header .sidebar-toggle:hover {
    color: #345697 !important;
}

.newAffix {
    /* top: 50px; */
    /*position: absolute;*/
    position: fixed;
    /* width: 100%; */
    /* background-color: white; */
    z-index: 777;
    margin-left: 45px;
    font-size: 20px;
    /*text-transform: uppercase;*/
}

.breadcrumbs {
    font-size: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: #337AB7 !important;
    /*text-transform: uppercase;*/
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    font-family: Freehand;
}

a:hover {
    text-decoration: none !important;
}

.dropdown-menu > li > a {
    padding: 10px 20px;
}

.slimScrollDiv {
    height: 0px !important;
}

.fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    content: attr(data-count);
    font-size: 50%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: rgba(255, 0, 0, .85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}

.isRead {
    color: #C8BFBF !important;
}

.isNotRead {
    color: #000 !important;
}

